body {
	font-family: Arial, sans-serif;
}

.container {
	display: flex;
	margin-top: 50px;
}

.column {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 32px;
	margin-right: 20px;
	width: 30%;
}

.column h2 {
	text-align: center;
}

.tasks {
	margin-bottom: 10px;
}

.task {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5px;
}

.task-input {
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
}

button {
	padding: 5px 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 16px;
}
